# Day-12 Assignment :

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("general_data.csv")

In [3]:
dataset.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [4]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

### Attrition vs Gender :-       chi square test

In [5]:
from scipy.stats import chi2_contingency

In [6]:
chitable = pd.crosstab(dataset.Attrition,dataset.Gender)
print(chitable)

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [7]:
stats,p,dof,expeted = chi2_contingency(chitable)

In [8]:
print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 1.349904410246582     and    p = 0.24529482862926827
Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS

### Attrition vs Bussiness travel :   chi square test

In [9]:
chitable = pd.crosstab(dataset.Attrition,dataset.BusinessTravel)
print(chitable)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [10]:
stats,p,dof,expeted = chi2_contingency(chitable)

In [11]:
print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 72.54724105696552     and    p = 1.764276972983189e-16
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs Department : chi square test:

In [12]:
chitable = pd.crosstab(dataset.Attrition,dataset.Department)
print(chitable)

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [14]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 29.090274924488266     and    p = 4.820888218170406e-07
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs Education : chi square:

In [16]:
chitable = pd.crosstab(dataset.Attrition,dataset.Education)
print(chitable)

Education    1    2     3     4    5
Attrition
No         432  687  1449  1008  123
Yes         78  159   267   186   21

In [17]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 5.6411476792491975     and    p = 0.22759826301782404
Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS

### Attrition vs Education field : chi square

In [18]:
chitable = pd.crosstab(dataset.Attrition,dataset.EducationField)
print(chitable)

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
No                           48           1515        402     1167    216
Yes                          33            303         75      225     30

EducationField  Technical Degree
Attrition
No                           351
Yes                           45

In [19]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 46.194921001730584     and    p = 8.288917469574179e-09
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs JobLevel : chi square

In [21]:
chitable = pd.crosstab(dataset.Attrition,dataset.JobLevel)
print(chitable)

JobLevel      1     2    3    4    5
Attrition
No         1377  1317  558  267  180
Yes         252   285   96   51   27

In [22]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 6.2691759264759925     and    p = 0.1799276801337184
Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS

### Attrition vs JobRole : chi square test:

In [24]:
chitable = pd.crosstab(dataset.Attrition,dataset.JobRole)
print(chitable)

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
No                               336              135                    651
Yes                               57               21                    126

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
No             264                     387                183
Yes             42                      48                 57

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
No                        717              813                   213
Yes                       159              165                    36

In [25]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 25.116313674604072     and    p = 0.001485544744815264
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

###  Attrition vs MaritalStatus :  chi square test:

In [26]:
chitable = pd.crosstab(dataset.Attrition,dataset.MaritalStatus)
print(chitable)

MaritalStatus  Divorced  Married  Single
Attrition
No                  882     1767    1050
Yes                  99      252     360

In [27]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 138.49102962254608     and    p = 8.45385940605786e-31
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs StockOptionLevel : chi square :

In [28]:
chitable = pd.crosstab(dataset.Attrition,dataset.StockOptionLevel )
print(chitable)

StockOptionLevel     0     1    2    3
Attrition
No                1575  1518  390  216
Yes                318   270   84   39

In [29]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 3.046265305068262     and    p = 0.38454683657380506
Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS

### Attrition vs TotalWorkingYears : chi square

In [30]:
chitable = pd.crosstab(dataset.Attrition,dataset.TotalWorkingYears )
print(chitable)

TotalWorkingYears  0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   \
Attrition
No                   18   123    66    99   153   216   309   189   260   257
Yes                  15   119    27    27    36    48    66    54    47    30

TotalWorkingYears  ...  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  \
Attrition          ...
No                 ...    21    24    27    18    12     9    18    12     3
Yes                ...     0     3     0     3     3     0     0     0     0

TotalWorkingYears  40.0
Attrition
No                    0
Yes                   6

[2 rows x 40 columns]

In [31]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 363.61615248162457     and    p = 2.805736076909354e-54
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs PercentSalaryHike : chi square test :

In [32]:
chitable = pd.crosstab(dataset.Attrition,dataset.PercentSalaryHike)
print(chitable)

PercentSalaryHike   11   12   13   14   15   16   17   18   19   20   21   22  \
Attrition
No                 540  504  525  516  240  204  201  228  186  138  117  138
Yes                 90   90  102   87   63   30   45   39   42   27   27   30

PercentSalaryHike  23  24  25
Attrition
No                 69  54  39
Yes                15   9  15

In [33]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 19.134303440424052     and    p = 0.15988066739973142
Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS

### Attrition vs TrainingTimesLastYear : chi square test:

In [34]:
chitable = pd.crosstab(dataset.Attrition,dataset.TrainingTimesLastYear)
print(chitable)

TrainingTimesLastYear    0    1     2     3    4    5    6
Attrition
No                     132  183  1359  1215  321  306  183
Yes                     30   30   282   258   48   51   12

In [35]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 22.690612849829215     and    p = 0.0009070057637258118
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs YearsSinceLastPromotion : chi square test:

In [36]:
chitable = pd.crosstab(dataset.Attrition,dataset.YearsSinceLastPromotion)
print(chitable)

YearsSinceLastPromotion    0    1    2    3    4    5   6    7   8   9   10  \
Attrition
No                       1413  924  396  129  168  129  78  180  54  39  15
Yes                       330  147   81   27   15    6  18   48   0  12   3

YearsSinceLastPromotion  11  12  13  14  15
Attrition
No                       66  30  24  24  30
Yes                       6   0   6   3   9

In [37]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 65.53490981436207     and    p = 2.7530023754864334e-08
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs YearsWithCurrManager : chi square test:

In [38]:
chitable = pd.crosstab(dataset.Attrition,dataset.YearsWithCurrManager)
print(chitable)

YearsWithCurrManager   0    1    2    3    4   5   6    7    8    9   10  11  \
Attrition
No                    534  195  882  369  261  81  75  555  291  174  72  63
Yes                   255   33  150   57   33  12  12   93   30   18   9   3

YearsWithCurrManager  12  13  14  15  16  17
Attrition
No                    54  42   9  15   6  21
Yes                    0   0   6   0   0   0

In [39]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 223.8515523457968     and    p = 4.37385677465416e-38
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition  vs DistanceFromHome : chi square test

In [41]:
chitable = pd.crosstab(dataset.Attrition,dataset.DistanceFromHome)
print(chitable)

DistanceFromHome   1    2    3    4    5    6    7    8    9    10  ...  20  \
Attrition                                                           ...
No                528  519  222  159  165  156  204  207  219  198  ...  66
Yes                96  114   30   33   30   21   48   33   36   60  ...   9

DistanceFromHome  21  22  23  24  25  26  27  28  29
Attrition
No                48  48  69  75  69  72  27  57  69
Yes                6   9  12   9   6   3   9  12  12

[2 rows x 29 columns]

In [42]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 102.3516705172535     and    p = 2.098176387479194e-10
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

### Attrition vs Age : chi square test:

In [43]:
chitable = pd.crosstab(dataset.Attrition,dataset.Age)
print(chitable)

Age        18  19  20  21  22  23  24  25  26   27  ...  51  52  53  54  55  \
Attrition                                           ...
No         12   9  15  21  33  30  57  60  81  135  ...  51  45  51  54  57
Yes        12  18  18  18  15  12  21  18  36    9  ...   6   9   6   0   9

Age        56  57  58  59  60
Attrition
No         33  12  27  30  15
Yes         9   0  15   0   0

[2 rows x 43 columns]

In [44]:
stats,p,dof,expeted = chi2_contingency(chitable)

print("Stats =",stats,"    and    p =",p)
if p < 0.05:
    print("Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS")
elif p > 0.05:
    print("Inference(p>0.05) : WE ACCEPT THE NULL HYPOTHESIS")

Stats = 357.52484648609584     and    p = 1.1886524349105674e-51
Inference(p<0.05) : WE REJECT THE NULL HYPOTHESIS

# ---------------------------------------------------------------------------------------------------------------